In [11]:
import pickle
import pandas as pd

url="https://raw.githubusercontent.com/BeaverWorksMedlytics2020/Data_Public/master/ChallengeProjects/Week1/allhypo.test.data.csv"
testdata=pd.read_csv(url) 
testdata.head(10)

,Age,Sex,On thyroxine,query on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,query hypothyroid,...,T3,TT4 measured,TT4,T4U measured,T4u,FTI measured,FTI,TBG measured,TBG,referral source
0,35,F,f,f,f,f,f,f,f,f,...,?,f,?,f,?,f,?,f,?,other
1,63,M,f,f,f,f,f,f,f,f,...,2.5,t,108,t,0.96,t,113,f,?,SVI
2,25,F,f,f,f,f,f,f,f,f,...,2.4,t,61,t,0.82,t,75,f,?,SVHD
3,53,F,f,f,f,f,f,f,f,t,...,2.1,t,145,t,1.03,t,141,f,?,other
4,92,F,f,f,f,f,f,f,f,f,...,1.3,t,120,t,0.84,t,143,f,?,SVI
5,67,M,f,f,f,f,f,f,f,t,...,?,t,84,t,0.83,t,101,f,?,other
6,60,F,f,f,f,f,f,f,f,f,...,2.6,t,117,t,1.31,t,90,f,?,other
7,60,F,f,f,f,f,f,f,f,f,...,1.8,t,65,t,0.99,t,66,f,?,SVI
8,48,F,f,f,f,f,f,f,f,f,...,?,t,112,t,0.92,t,121,f,?,other
9,27,F,f,f,f,f,f,f,f,f,...,2.2,t,94,t,0.89,t,106,f,?,SVI

In [4]:
testdata.describe()

              Age
count  972.000000
mean    51.423868
std     18.966700
min      7.000000
25%     35.000000
50%     54.000000
75%     67.000000
max     93.000000

In [12]:
import numpy as np

testdata = testdata.replace(to_replace='?', value=float("NaN"))
numeric_columns = ['Age', 'TSH', 'T3', 'TT4', 'T4u', 'FTI']
testdata[numeric_columns] = testdata[numeric_columns].apply(pd.to_numeric)

testdata.head(10)

,Age,Sex,On thyroxine,query on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,query hypothyroid,...,T3,TT4 measured,TT4,T4U measured,T4u,FTI measured,FTI,TBG measured,TBG,referral source
0,35,F,f,f,f,f,f,f,f,f,...,NaN,f,NaN,f,NaN,f,NaN,f,NaN,other
1,63,M,f,f,f,f,f,f,f,f,...,2.5,t,108.0,t,0.96,t,113.0,f,NaN,SVI
2,25,F,f,f,f,f,f,f,f,f,...,2.4,t,61.0,t,0.82,t,75.0,f,NaN,SVHD
3,53,F,f,f,f,f,f,f,f,t,...,2.1,t,145.0,t,1.03,t,141.0,f,NaN,other
4,92,F,f,f,f,f,f,f,f,f,...,1.3,t,120.0,t,0.84,t,143.0,f,NaN,SVI
5,67,M,f,f,f,f,f,f,f,t,...,NaN,t,84.0,t,0.83,t,101.0,f,NaN,other
6,60,F,f,f,f,f,f,f,f,f,...,2.6,t,117.0,t,1.31,t,90.0,f,NaN,other
7,60,F,f,f,f,f,f,f,f,f,...,1.8,t,65.0,t,0.99,t,66.0,f,NaN,SVI
8,48,F,f,f,f,f,f,f,f,f,...,NaN,t,112.0,t,0.92,t,121.0,f,NaN,other
9,27,F,f,f,f,f,f,f,f,f,...,2.2,t,94.0,t,0.89,t,106.0,f,NaN,SVI

In [15]:
testing_columns = ['TSH', 'FTI', 'TSH measured', 'FTI measured']
numeric_columns = ['TSH', 'FTI']

for i in testdata.columns:
    if i not in testing_columns:
        testdata=testdata.drop(i, axis=1)

testdata

    TSH measured   TSH FTI measured    FTI
0              f   NaN            f    NaN
1              t  3.50            t  113.0
2              t  4.60            t   75.0
3              t  0.25            t  141.0
4              t  0.70            t  143.0
..           ...   ...          ...    ...
967            f   NaN            f    NaN
968            t  1.00            t  114.0
969            t  5.10            t  105.0
970            t  0.70            t   87.0
971            t  1.00            t   92.0

[972 rows x 4 columns]

In [16]:
medians = testdata[numeric_columns].median()
print(medians)
testdata = testdata.replace(to_replace=np.nan, value=medians)

testdata

TSH      1.3
FTI    106.0
dtype: float64

    TSH measured   TSH FTI measured    FTI
0              f  1.30            f  106.0
1              t  3.50            t  113.0
2              t  4.60            t   75.0
3              t  0.25            t  141.0
4              t  0.70            t  143.0
..           ...   ...          ...    ...
967            f  1.30            f  106.0
968            t  1.00            t  114.0
969            t  5.10            t  105.0
970            t  0.70            t   87.0
971            t  1.00            t   92.0

[972 rows x 4 columns]

In [18]:
group_pred_pickle_path = 'group_predictions_pickle.pkl'

Group_Predictions=pd.DataFrame({"Guesses":model(X_train,Y_train,test_data[X_train.columns])[0],
                                "Prob_neg":1-model(X_train,Y_train,test_data[X_train.columns])[1],
                                "Prob_pos":model(X_train,Y_train,test_data[X_train.columns])[1]})


from google.colab import files
group_pred_pickle = open(group_pred_pickle_path, 'wb')
pickle.dump(Group_Predictions, group_pred_pickle)
files.download(group_pred_pickle_path)
group_pred_pickle.close()

NameError: name 'model' is not defined